 <header class="header" style="padding-top: 30px;">
    <script src='http://static.jdpay.com/basic/dist/js/m-public/??jquery1.7.2.js'></script>
    <iframe src="//ft.jdpay.com/account/statusbar/" style="position:absolute; top: 0; left: 0; right: 0; background-color:transparent; margin: 0; padding: 0" width="100%" height="30px" frameborder="no">
    </iframe>
<script>
    var doc=document;  
    var link=doc.createElement("link");  
    link.setAttribute("rel", "icon");  
    link.setAttribute("type", "image/x-icon");  
    link.setAttribute("href", "http://ft.jd.com//html/favicon.ico");  
    var heads = doc.getElementsByTagName("head");  
    if(heads.length)  
        heads[0].appendChild(link);  
    else  
        doc.documentElement.appendChild(link);  
</script>

    <div class="container">
        <div class="logo">
            <a href="/">
                <img src="//img14.360buyimg.com/wympay/jfs/t3748/300/108123672/4451/c42d7358/57ff5e34N6e63c570.png" alt="京东金融企业服务平台">
            </a>
        </div>
        <nav class="nav">
            <ul>
                <li class="{{underline-homepage}}">
                    <a href="/portal/index.htm">首页</a>
                </li>
                <li class="product-intro {{underline-intro}}">
                    <a href="/portal/product-intro.htm">产品介绍</a>
                </li>
                <li class="dropdown {{underline-sol}}">
                    <a href="javascript:;">解决方案</a>
                    <div class="sub-nav">
                        <ul class="container">
                            <li>
                                <a data-icon="" href="/portal/finance-solution.htm">金融</a>
                            </li>
                            <li>
                                <a data-icon="" href="/portal/education-solution.htm">教育</a>
                            </li>
                            <li>
                                <a data-icon="" href="/portal/hr-solution.htm">HR服务平台</a>
                            </li>
                            <li>
                                <a data-icon="" href="/portal/food-solution.htm">餐饮商超</a>
                            </li>
                            <li>
                                <a data-icon="" href="/portal/fastgoods-solution.htm">快消品</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a id="abs" href="//ft.jdpay.com/account/auth?redirect=https%3A%2F%2Fft.jd.com%2Fabssp%2Fplan">ABS投资人平台</a>
                </li>
            </ul>
        </nav>
    </div>
</header><input type='hidden' value='1493187942764' id='uniqueStamp' />
<link rel="stylesheet" href="/portal/css/index.css"/>
<div class="swiper-container banner">
    <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image:url('//img13.360buyimg.com/wympay/jfs/t4096/199/638973064/588116/76c447ad/5857abf5N5e5959a6.png')">
            <a href="/portal/banner-detail.htm">
                <h2 class="title">科技，让金融更开放555</h2>
                <p class="desc">—— 快速接入金融服务流程 ——</p>
                <span class="contact-btn consultation">咨询合作</span>
            </a>
        </div>
        <div class="swiper-slide" style="background-image:url('//img11.360buyimg.com/wympay/jfs/t3130/176/4877202747/66068/3ca130f0/5857ac15N226d43e8.jpg')">
            <a href="/portal/banner-detail-abs.htm">
                <h2 class="title">ABS投资人平台上线啦</h2>
                <p class="desc">—— ABS投资人平台入驻指南 ——</p>
            </a>
        </div>
        <div class="swiper-slide" style="background-image:url('//img11.360buyimg.com/wympay/jfs/t3241/57/5805372076/614639/66edc6de/587f2128Nb9f0e63f.png')">
            <a href="http://dt.jd.com">
                <h2 class="title">大数据时代来临</h2>
                <p class="desc">——京东稻田 • 数据产业联盟 ——</p>
            </a>
        </div>
    </div>
    <div class="pagination"></div>
    <div class="prev"></div>
    <div class="next"></div>
</div>
<!----------------------------------------------------------------行业解决方案------------------------------------------------------------------------------->
<section class="section solution">
    <div class="container">
        <h2 class="section-title">
            <img src="//img30.360buyimg.com/wympay/jfs/t3826/121/96000387/2103/e654ae47/5807152cN92fb3805.png" alt="行业解决方案">
        </h2>

        <div class="row trisector">
            <div class="item finance">
                <img src="//img10.360buyimg.com/wympay/jfs/t3430/248/124503055/86170/1eba984b/57ff5f36N5e103864.png">
                <div class="overlay">
                    <h4 class="title">{{{moudle1_name}}}</h4>
                    <a href="/portal/finance-solution.htm" class="desc">{{{moudle1_desc}}}</a>
                    <!--
                    <div class="case">
                        <em>客户案例</em>
                        <div class="swiper-container case-list">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="javascript:void(0)" class="item">
                                        <img src=""/>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
            <div class="item edu">
                <img src="//img30.360buyimg.com/wympay/jfs/t3565/301/107228613/38068/ccc5983f/57ff5f49N5152db76.png">
                <div class="overlay">
                    <h4 class="title">{{{moudle2_name}}}</h4>
                    <a href="/portal/education-solution.htm" class="desc">{{{moudle2_desc}}}</a>
                    <div class="case">
                        <em>客户案例</em>
                        <div class="swiper-container case-list">
                            <div class="swiper-wrapper" style="transition-duration: 0s; width: 86px; height: 50px;">
                                <div class="swiper-slide" style="width: 86px; height: 50px;">
                                    <a class="item">
                                        <img src="//img20.360buyimg.com/wympay/jfs/t3331/68/326764625/6940/827074b/5806e750N266f121b.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item last-item hr">
                <img src="//img12.360buyimg.com/wympay/jfs/t3502/313/119645094/48582/fa00fb96/57ff5f56N8b8860e4.png">
                <div class="overlay">
                    <h4 class="title">{{{moudle3_name}}}</h4>
                    <a href="/portal/hr-solution.htm" class="desc">{{{moudle3_desc}}}</a>
                    <!--
                    <div class="case">
                        <em>客户案例</em>
                        <div class="swiper-container case-list">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a class="item">
                                        <img src="//img30.360buyimg.com/wympay/jfs/t3526/134/124948545/2843/224f7848/5800440fNf6e15e9f.png"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
        <div class="row equational">
            <div class="item shop">
                <img src="//img13.360buyimg.com/wympay/jfs/t3271/285/4114440863/66533/ed137528/57ff5f63Ne5ee0ddb.png">
                <div class="overlay">
                    <h4 class="title">{{{moudle4_name}}}</h4>
                    <a href="/portal/food-solution.htm" class="desc">{{{moudle4_desc}}}</a>
                    <div class="case">
                        <em>客户案例</em>
                        <div class="swiper-container case-list">
                            <div class="swiper-wrapper" style="transition-duration: 0.3s; width: 1419px; height: 100px; transform: translate3d(-157.667px, 0px, 0px);"><div class="swiper-slide" style="width: 157.667px; height: 100px;">
                                    <a class="item">
                                        <img src="//img13.360buyimg.com/wympay/jfs/t3838/20/174748649/7603/fae2b540/5809b7d0Na480659d.png">
                                    </a>
                                </div><div class="swiper-slide swiper-slide-visible swiper-slide-active" style="width: 157.667px; height: 100px;">
                                    <a class="item">
                                        <img src="//img11.360buyimg.com/wympay/jfs/t3823/134/427555354/4875/daa60be7/58103a13N7ff16e42.png">
                                    </a>
                                </div><div class="swiper-slide swiper-slide-visible" style="width: 157.667px; height: 100px;">
                                    <a class="item">
                                        <img src="//img10.360buyimg.com/wympay/jfs/t3640/238/690748613/6252/cf37bb7a/58103a26N0d3b43ff.png">
                                    </a>
                                </div>
                                <div class="swiper-slide swiper-slide-visible" style="width: 157.667px; height: 100px;">
                                    <a class="item">
                                        <img src="//img13.360buyimg.com/wympay/jfs/t3838/20/174748649/7603/fae2b540/5809b7d0Na480659d.png">
                                    </a>
                                </div>
                                <div class="swiper-slide" style="width: 157.667px; height: 100px;">
                                    <a class="item">
                                        <img src="//img11.360buyimg.com/wympay/jfs/t3823/134/427555354/4875/daa60be7/58103a13N7ff16e42.png">
                                    </a>
                                </div>
                                <div class="swiper-slide" style="width: 157.667px; height: 100px;">
                                    <a class="item">
                                        <img src="//img10.360buyimg.com/wympay/jfs/t3640/238/690748613/6252/cf37bb7a/58103a26N0d3b43ff.png">
                                    </a>
                                </div>
                            <div class="swiper-slide" style="width: 157.667px; height: 100px;">
                                    <a class="item">
                                        <img src="//img13.360buyimg.com/wympay/jfs/t3838/20/174748649/7603/fae2b540/5809b7d0Na480659d.png">
                                    </a>
                                </div><div class="swiper-slide" style="width: 157.667px; height: 100px;">
                                    <a class="item">
                                        <img src="//img11.360buyimg.com/wympay/jfs/t3823/134/427555354/4875/daa60be7/58103a13N7ff16e42.png">
                                    </a>
                                </div><div class="swiper-slide" style="width: 157.667px; height: 100px;">
                                    <a class="item">
                                        <img src="//img10.360buyimg.com/wympay/jfs/t3640/238/690748613/6252/cf37bb7a/58103a26N0d3b43ff.png">
                                    </a>
                                </div></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item last-item bussiness">
                <img src="//img30.360buyimg.com/wympay/jfs/t3724/340/107443734/53687/90dd1a75/57ff5f70Nc784fabd.png">
                <div class="overlay">
                    <h4 class="title">{{{moudle5_name}}}</h4>
                    <a href="/portal/fastgoods-solution.htm" class="desc">{{{moudle5_desc}}}</a>
                    <div class="case">
                        <em>客户案例</em>
                        <div class="swiper-container case-list">
                            <div class="swiper-wrapper" style="transition-duration: 0.3s; width: 1576.67px; height: 100px; transform: translate3d(-157.667px, 0px, 0px);"><div class="swiper-slide swiper-slide-duplicate" style="width: 157.667px; height: 100px;">
                                    <a class="item">
                                        <img src="//img10.360buyimg.com/wympay/jfs/t3487/290/671863343/15603/ecf17bb2/581039e3Nbe341828.png">
                                    </a>
                                </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-visible swiper-slide-active" style="width: 157.667px; height: 100px;">
                                    <a class="item">
                                        <img src="//img14.360buyimg.com/wympay/jfs/t3421/357/331193676/6910/ecf535de/5806e78eN4366a99d.png">
                                    </a>
                                </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-visible" style="width: 157.667px; height: 100px;">
                                    <a class="item">
                                        <img src="//img20.360buyimg.com/wympay/jfs/t3433/339/662522030/8879/e548475c/581039feN5a7b614a.png">
                                    </a>
                                </div>
                                <div class="swiper-slide swiper-slide-visible" style="width: 157.667px; height: 100px;">
                                    <a class="item">
                                        <img src="//img12.360buyimg.com/wympay/jfs/t3847/263/93869240/5357/ea2f761f/5806e771N9ec37159.png">
                                    </a>
                                </div>
                                <div class="swiper-slide" style="width: 157.667px; height: 100px;">
                                    <a class="item">
                                        <img src="//img10.360buyimg.com/wympay/jfs/t3487/290/671863343/15603/ecf17bb2/581039e3Nbe341828.png">
                                    </a>
                                </div>
                                <div class="swiper-slide" style="width: 157.667px; height: 100px;">
                                    <a class="item">
                                        <img src="//img14.360buyimg.com/wympay/jfs/t3421/357/331193676/6910/ecf535de/5806e78eN4366a99d.png">
                                    </a>
                                </div>
                                <div class="swiper-slide" style="width: 157.667px; height: 100px;">
                                    <a class="item">
                                        <img src="//img20.360buyimg.com/wympay/jfs/t3433/339/662522030/8879/e548475c/581039feN5a7b614a.png">
                                    </a>
                                </div>
                            <div class="swiper-slide swiper-slide-duplicate" style="width: 157.667px; height: 100px;">
                                    <a class="item">
                                        <img src="//img12.360buyimg.com/wympay/jfs/t3847/263/93869240/5357/ea2f761f/5806e771N9ec37159.png">
                                    </a>
                                </div><div class="swiper-slide swiper-slide-duplicate" style="width: 157.667px; height: 100px;">
                                    <a class="item">
                                        <img src="//img10.360buyimg.com/wympay/jfs/t3487/290/671863343/15603/ecf17bb2/581039e3Nbe341828.png">
                                    </a>
                                </div><div class="swiper-slide swiper-slide-duplicate" style="width: 157.667px; height: 100px;">
                                    <a class="item">
                                        <img src="//img14.360buyimg.com/wympay/jfs/t3421/357/331193676/6910/ecf535de/5806e78eN4366a99d.png">
                                    </a>
                                </div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-----------------------------------------------------------------特色产品-------------------------------------------------------------------------------->
<section class="section">
    <div class="container">
        <h2 class="section-title">
            <img src="//img14.360buyimg.com/wympay/jfs/t3784/103/344080663/1440/6f47246c/58071517N4d6bcc10.png" alt="特色产品">
        </h2>
        <div class="product-list">
            <div class="item border-r">
                <div class="wrap">
                    <div class="icon payment"></div>
                    <h6>{{{fp1_name}}}</h6>
                    <p class="desc">{{{fp1_desc}}}</p>
                    <a href="/portal/product-intro.htm?tab=qiyezhanghu">查看详情</a>
                </div>
            </div>
            <div class="item border-r">
                <div class="wrap">
                    <div class="icon shop"></div>
                    <h6>{{{fp2_name}}}</h6>
                    <p class="desc">{{{fp2_desc}}}</p>
                    <a href="/portal/product-intro.htm?tab=qiyeshoudan">查看详情</a>
                </div>
            </div>
            <div class="item border-r">
                <div class="wrap">
                    <div class="icon finance"></div>
                    <h6>{{{fp3_name}}}</h6>
                    <p class="desc">{{{fp3_desc}}}</p>
                    <a href="/portal/product-intro.htm?tab=qiyejinrong">查看详情</a>
                </div>
            </div>
            <div class="item">
                <div class="wrap">
                    <div class="icon abs"></div>
                    <h6>{{{fp4_name}}}</h6>
                    <p class="desc">{{{fp4_desc}}}</p>
                    <a href="/portal/product-intro.htm?tab=absyunpingtai">查看详情</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!----------------------------------------我们的优势------------------------------------------------->
<section class="section advantage">
    <div class="container">
        <h2 class="section-title">
            <img src="//img14.360buyimg.com/wympay/jfs/t3532/77/346669301/2108/de4c2449/58071543Na10abaef.png" alt="我们的优势">
        </h2>
        <div class="row">
            <div class="item-list">
                <div class="item open default">
                    <h6 class="title"><em>开放</em></h6>
                    <p class="desc">开放京东金融生态系统下孵化的产品能力，赋能企业</p>
                    <div class="detail">
                        <p>开放京东金融生态系统下孵化的产品能力，赋能企业；开放的账户体系，可与企业账户无缝对接；开放的合作模式，可支持产品定制化。</p>
                    </div>
                </div>
                <div class="item border safety">
                    <h6 class="title"><em>效率</em></h6>
                    <p class="desc">提升企业涉足金融服务的效率，降低人力成本</p>
                    <div class="detail">
                        <p>为客户开放第三方支付、基金代销、保险经纪、小额贷款、商业保理、企业征信等能力，大大提升企业涉足金融服务的效率，降低人力成本。</p>
                    </div>
                </div>
            </div>
            <div class="main-pic" style="background-image: url('//img13.360buyimg.com/wympay/jfs/t3298/274/4050367889/34404/ec10ee0e/57ff5effN78f6d2d8.jpg')"></div>
            <div class="item-list">
                <div class="item compliance">
                    <h6 class="title"><em>风控</em></h6>
                    <p class="desc">四大风控系统+四大数据模型，快速定位优质客群</p>
                    <div class="detail">
                        <p>运用京东集团大数据、云计算能力，打造四大风控系统（天网、天盾、天机、天策）+四大数据模型（风险控制模型、量化运营模型、用户洞察模型、数据征信模型）。创新的数据模型，借助可视化及结构分析，结合类群的聚焦效应和传染效应，快速识别可疑集团，定位优质客群。</p>
                    </div>
                </div>
                <div class="item border risk-management">
                    <h6 class="title"><em>安全</em></h6>
                    <p class="desc">完整闭环安全产品矩阵，有效阻隔恶意攻击、网络渗透</p>
                    <div class="detail">
                        <p>产品安全：完整闭环的安全产品矩阵，有效阻隔恶意攻击、网络渗透；数据安全：所有敏感数据的传输与持久化均使用强加密算法保护，加密密钥与访问授权由安全中心统一管理，关键数据物理隔离。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="counsel">
    <div class="counsel-cover hide"></div>
    <div id="counsel-container" class="counsel-container hide" style="position: absolute; top: 101px; left: 374px;">
        <div class="counsel-form-con">
            <h1>咨询合作</h1>
            <a href="javascript:;" class="closebt">
                <img src="/portal/img/counsel-close.png">
            </a>
            <div class="counsel-content">
                <ul class="reg-bd">
                    <li>
                        <label for="company_name">公司</label>
                        <div class="ui-input">
                            <input autocomplete="off" type="text" class="i-text" id="company_name">
                        </div>
                    </li>
                    <li>
                        <label for="user_name">姓名</label>
                        <div class="ui-input">
                            <input autocomplete="off" type="text" class="i-text" id="user_name">
                        </div>
                    </li>
                    <li>
                        <label for="phone_number">手机号</label>
                        <div class="ui-input">
                            <input autocomplete="off" type="text" class="i-text" id="phone_number">
                        </div>
                    </li>
                    <li>
                        <label for="sms_code">短信验证码</label>
                        <div class="ui-input">
                            <input type="text" class="i-text" id="sms_code">
                        </div>
                        <span class="span-vercode">获取验证码</span>
                    </li>
                    <li class="error-code-li">
                        <p class="error-code"></p>
                    </li>
                </ul>
                <textarea placeholder="问题描述" name="name" rows="5" cols="36" id="problem_description"></textarea>
                <p class="error"></p>
                <button id="submit">提 交</button>
            </div>
        </div>
        <div class="counsel-success hide">
            <div class="counsel-success-in">
                <a href="javascript:;" class="closebt closebt-success">
                    <img src="/portal/img/counsel-close.png">
                </a>
                <img src="/portal/img/counsel-ok.png" alt="">
                <h1>提交成功</h1>
                <h2>专业售前人员会在1个工作日内与您联系，祝您工作顺利！</h2>
            </div>
        </div>
        <div class="counsel-loading hide">
            <div class="counsel-loading-in">
                <h2>正在提交，请稍后...</h2>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="return-container">
        <a href="javascript:;" class="consultation"></a>
        <a href="javascript:;" class="returntop"></a>
    </div>
</section>

<footer>
    <div class="footer-hd" style="background: url('//img12.360buyimg.com/wympay/jfs/t3085/276/4096237471/15786/f2070898/57ff5d8eNb164bdfa.jpg') center no-repeat"></div>
    <div class="footer">
        <div class="container">
            <p class="links">
                <a href="http://www.jd.com" target="_blank">京东商城</a>｜
                <a href="http://jr.jd.com" target="_blank">京东金融</a>｜
                <a href="http://www.jcloud.com" target="_blank">京东云</a>｜
                <a href="http://smart.jd.com" target="_blank">京东智能</a>｜
                <a href="http://jzt.jd.com/gw/" target="_blank">京准通</a>｜
                <a href="http://wxlink.jd.com" target="_blank">京东万象</a>｜
                <a href="/html/about" target="_blank">关于我们</a>
            </p>
            <p class="copyright">Copyright © 2004-2016 京东JD.com 版权所有</p>
        </div>
    </div>
    <script type="text/javascript" src="//tajs.qq.com/stats?sId=59053717" charset="UTF-8"></script>
    <script type="text/javascript" src="//pingjs.qq.com/h5/stats.js" name="MTAH5" sid="500326688" cid="500332905" opts="{&quot;senseHash&quot;:false,&quot;autoReport&quot;:false,&quot;performanceMonitor&quot;:false}"></script>
</footer><input type='hidden' value='1493187942777' id='uniqueStamp' />
<script src="/portal/js/index.js"></script>